<div class="body">
    <div class="messages">
        <div class="message-list" #messageList>
            <div class="incoming">
                <div class="icon">
                    <i class='bx bxs-user-circle'></i>
                </div>
                <div class="user">
                    <h3>user81329873</h3>
                    <p>hi</p>
                </div>  
            </div>
        </div>
        <div class="chat-box">
            <textarea></textarea>
        </div>
    </div>
</div>