<div class="body">
    <div class="sidebar">
        <div class="title">
            <h1>Chattr</h1>
            <img src="/assets/logoWhite.png">
        </div>
        <div class="recents">
            <div class="chatter-bar">
                <div class="logo">
                    <i class='bx bx-globe'></i>
                </div>
                <div class="user">
                    <div class="username">
                        <h3>The Chatter</h3>
                    </div>
                </div>
            </div>
            <div class="message-bar">
                <div class="logo">
                    <i class='bx bxs-user-circle'></i>
                </div>
                <div class="user">
                    <div class="username">
                        <h3>user9312</h3>
                    </div>
                    <div class="message">
                        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Maxime earum labore minus tempora veritatis consectetur dolorem sunt, non similique aliquam nulla a nesciunt aliquid iste inventore quis sint quae facere.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="main">
        <div class="chat-title">
            <i class='bx bx-globe'></i>
            <h1>The Chatter</h1>
        </div>
        <router-outlet></router-outlet>
    </div>
</div>