.body {
  display: flex;
  height: 100vh;
  width: 100vw;
  overflow: hidden;
}

.sidebar {
  background-color: var(--primary-500);
  width: 23vw;
}

.title {
  display: flex;
  align-items: center;
  color: var(--accent-300);
  column-gap: 5px;
  height: 12vh;
  padding: 0px 10px;
  border-bottom: 4px solid var(--primary-400);
}

.title img {
  height: 55px;
}

.title h1 {
  font-size: 40px;
}

.recents {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 100%;
  height: 80vh;
  padding: 20px 10px;
  overflow-y: auto;
  overflow-x: hidden;
}

.chatter-bar i,
.message-bar i {
  margin-left: auto;
  font-size: 13px;
}

.chatter-bar,
.message-bar {
  cursor: pointer;
  align-items: center;
  background-color: var(--primary-700);
  border: solid 1.5px #63666a;
  border-radius: 15px;
  padding: 10px 15px;
  display: flex;
  gap: 5px;
  color: var(--accent-300);
}

.chatter-bar .logo,
.message-bar .logo {
  height: 100%;
}

.chatter-bar .logo i,
.message-bar .logo i {
  font-size: 45px;
}

.message-bar .logo img {
  height: 42.5px;
  width: 42.5px;
  border-radius: 100px;
  object-fit: cover;
  margin-right: 2.5px;
}

.message-bar .user {
  width: 100%;
}

.message-bar .user .message {
  width: 80%;
}

.message-bar .message p {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  font-size: 14px;
}

.profile-bar {
  border-top: 4px solid var(--accent-500);
  height: 8vh;
  display: grid;
  grid-template-columns: 8fr 2fr;
  font-size: 15px;
  color: var(--accent-300);
}

.profile-bar .profile {
  display: flex;
  align-items: center;
  padding: 0px 15px;
  gap: 8px;
}

.profile-bar .profile i {
  font-size: 30px;
}

.profile-bar .profile img {
  height: 30px;
  width: 30px;
  border-radius: 100px;
  object-fit: cover;
}

.profile-bar .settings {
  display: flex;
  padding: 0px 15px;
  justify-content: right;
  align-items: center;
  font-size: 27.5px;
}

.profile-bar .settings i {
  cursor: pointer;
}

.profile-bar .settings .settings-window {
  background-color: var(--primary-700);
  font-size: 16px;
  display: none;
}

.profile-bar .settings i:hover {
  display: block;
}

.main {
  width: 77vw;
  transition: width 0.3s ease;
}

.toggle-button {
  background: transparent;
  border: none;
  cursor: pointer;
  z-index: 1000;
  margin-left: auto;
}

@media (max-width: 768px) {
  .sidebar {
    width: 80vw;
    height: 100vh;
    position: fixed;
    left: 0;
    top: 0;
    z-index: 1000;
    background-color: var(--primary-500);
    transition: opacity 0.3s ease;
    opacity: 1;
    visibility: visible;
  }

  .sidebar.hidden {
    opacity: 0;
    visibility: hidden;
  }

  .main {
    width: 100vw;
    margin-left: 0;
  }
}

@media (min-width: 769px) {
  .toggle-button {
    display: none;
  }
}
