<div *ngIf="loaded">
  <div class="body">
    <div class="sidebar" [ngClass]="{ hidden: isSidebarHidden }">
      <div class="title">
        <h1>Chattr</h1>
        <img src="{{ mainport }}/assets/logoWhite.png" />
        <h1 (click)="toggleSidebar()" class="toggle-button">
          <i class="bx bx-list-ul"></i>
        </h1>
      </div>
      <div class="recents">
        <div class="chatter-bar" (click)="navigateChatterChat()">
          <div class="logo">
            <i class="bx bx-globe"></i>
          </div>
          <div class="user">
            <div class="username">
              <h3>The Chatter</h3>
            </div>
          </div>
        </div>
        <div
          class="message-bar"
          *ngFor="let user of users"
          (click)="navigatePrivateChat(user.userid, user.username)"
        >
          <div class="logo">
            <i class="bx bxs-user-circle" *ngIf="!user.profile"></i>
            <img
              *ngIf="user.profile"
              src="{{ mainport }}/pdo/images/users/{{ user.profile }}"
            />
          </div>
          <div class="user">
            <div class="username">
              <h3>{{ user.username }}</h3>
            </div>
          </div>
        </div>
        <i class="bx bxs-circle" *ngIf="chatterMessages == true"></i>
      </div>
      <div class="profile-bar" (click)="changeProfilePhoto()">
        <div class="profile">
          <i class="bx bxs-user-circle" *ngIf="!imageUrl"></i>
          <img
            *ngIf="imageUrl"
            src="{{ mainport }}/pdo/images/users/{{ imageUrl }}"
          />
          <h3>{{ username }}</h3>
        </div>
        <div class="settings">
          <i class="bx bx-log-out" (click)="logout()"></i>
          <!-- <i class="bx bxs-cog"></i>
          <div class="settings-window">
            <label>Change Profile Image</label>
            <label>Log-out</label>
          </div> -->
        </div>
      </div>
    </div>
    <div class="main">
      <router-outlet></router-outlet>
      <div class="profile-bar">
        <div class="profile">
          <i class="bx bxs-user-circle"></i>
          <h3>{{ username }}</h3>
        </div>
        <div class="settings">
          <i class="bx bx-log-out" (click)="logout()"></i>
        </div>
        <i
          class="bx bxs-circle"
          *ngIf="privateUnreadCounts[user.username] > 0"
        ></i>
      </div>
    </div>
  </div>
</div>
